# deps
node_modules/
.pnpm-store/

# env secrets
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# build
dist/
build/
out/
.cache/
.tmp/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
